In [89]:
import os 
import pandas as pd
import numpy as np

## Obtaining Data

In [90]:
path = '../data/raw/'

In [156]:
def df_classifier(path,service,sheet):
    
    df_list =[]
    
    for root, dirs, files in os.walk(path):
        
        for filename in files:
            
            if filename.startswith(service):
                
                df_list.append(pd.read_excel(f'{path}{filename}', sheet_name=sheet))
            
                print(filename)
                
    return df_list

In [157]:
df_hl_list = df_classifier(path, 'hl', 0)

hl1986to2001.xlsx
hl2010toPresent.xlsx
hl2002to2009.xlsx

## Cleaning Data

In [121]:
mergedStuff = pd.concat(df_list, ignore_index=True)
mergedStuff.head().T

,0,1,2,3,4
DATAFILE_AS_OF,2021-02-26 10:38:50,2021-02-26 10:38:50,2021-02-26 10:38:50,2021-02-26 10:38:50,2021-02-26 10:38:50
SIGNIFICANT,YES,YES,YES,YES,YES
SERIOUS,NO,NO,NO,NO,NO
RPTID,1.986e+07,1.986e+07,1.986e+07,1.986e+07,1.986e+07
OPID,22907,18194,12628,12628,18273
...,...,...,...,...,...
ACCST,NaN,NaN,NaN,NaN,NaN
PRTLO,NaN,NaN,NaN,NaN,NaN
ADESCO,NaN,NaN,NaN,NaN,NaN
CAUSR,NaN,NaN,NaN,NaN,NaN
MRKTO,NaN,NaN,NaN,NaN,NaN

In [146]:
nan_values = mergedStuff.isna().sum()
        
nan_percentage = nan_values / len(mergedStuff) * 100
        
filter_nan_percentage = nan_percentage > 70

In [147]:
high_nan_columns = mergedStuff.columns[filter_nan_percentage].to_list()

In [148]:
len(high_nan_columns)

1233

In [149]:
mergedStuff.drop(columns=high_nan_columns)

,DATAFILE_AS_OF,SIGNIFICANT,SERIOUS,RPTID,OPID,NAME,IDATE,DTHH,ACSTATE,ACCOUNTY,...,CAUSE_DETAILS,SPILL_TYPE_CATEGORY,PREPARER_NAME,PREPARER_TITLE,PREPARER_EMAIL,PREPARER_TELEPHONE,AUTHORIZER_NAME,AUTHORIZER_TITLE,AUTHORIZER_TELEPHONE,AUTHORIZER_EMAIL
0,2021-02-26 10:38:50,YES,NO,19860003.0,22907.0,WYCO PIPE LINE CO,1986-01-06,1600,CO,EL PASO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-26 10:38:50,YES,NO,19860005.0,18194.0,SEMINOLE PIPELINE CO,1986-01-13,1022,TX,CONCHO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-02-26 10:38:50,YES,NO,19860027.0,12628.0,MOBIL PIPELINE CO,1986-01-30,600,TX,CALDWELL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-02-26 10:38:50,YES,NO,19860028.0,12628.0,MOBIL PIPELINE CO,1986-01-15,1543,TX,JASPER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-02-26 10:38:50,YES,NO,19860029.0,18273.0,SHELL PIPE LINE CORP,1986-02-07,1400,TX,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18688,2021-02-26 10:34:20,YES,NO,20040053.0,12408.0,MICHIGAN CONSOLIDATED GAS CO (MICHCON),2004-04-06,1755,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18689,2021-02-26 10:34:20,YES,NO,20040067.0,792.0,ATLANTA GAS LIGHT CO,2004-04-27,900,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18690,2021-02-26 10:34:20,YES,YES,20040073.0,6920.0,ENTERGY GULF STATES INC,2004-01-13,1142,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18691,2021-02-26 10:34:20,YES,YES,20040093.0,15462.0,PECO ENERGY CO,2004-06-29,1230,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18692,2021-02-26 10:34:20,YES,NO,20040108.0,15007.0,PACIFIC GAS & ELECTRIC CO,2004-07-25,1000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN